@font-face {
    font-family: 'Maax Rounded';
    src: url('MaaxRounded-MediumItalic.woff2') format('woff2'),
        url('MaaxRounded-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Maax Rounded';
    src: url('MaaxRounded-Bold.woff2') format('woff2'),
        url('MaaxRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maax Rounded';
    src: url('MaaxRounded-Medium.woff2') format('woff2'),
        url('MaaxRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maax Rounded';
    src: url('MaaxRounded.woff2') format('woff2'),
        url('MaaxRounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maax Rounded';
    src: url('MaaxRounded-BoldItalic.woff2') format('woff2'),
        url('MaaxRounded-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

