#washer-booking-form-nav {
    text-align: center;

    >.et_pb_column {
        column-gap: 40px;
        background: #efefef;
        width: auto;
        margin: 0 auto !important;
        float: none !important;
        padding: 10px 20px 11px;
        border-radius: 8px;
    }

    .washer-booking-form-nav-item {
        margin-top: auto !important;
        margin-bottom: auto !important;
        cursor: pointer;
        opacity: .2;

        .et_pb_blurb_content {
            display: flex;
            align-items: center;

            .et_pb_main_blurb_image {
                margin-top: auto !important;
                margin-bottom: auto !important;
            }

            .et_pb_blurb_container {
                padding-left: 8px !important;

                .et_pb_module_header {
                    padding-bottom: 0 !important;
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 0.28px;
                    text-transform: uppercase;
                }
            }
        }

        &.summary {
            .et_pb_blurb_container {
                padding-left: 4px !important;
            }
        }

        &.active {
            opacity: 1;
        }
    }
}

#washer-booking-form {
    padding: 0 !important;

    .washer_booking-wrapper {
        padding: 0 !important;
    }
}

.washer-booking-submit {
    .form-list-wrap {
        padding: 0;
    }

    .single-main-list_item {
        border: 0 !important;

        &:not(.washer-type-section) {
            display: none !important;
        }

        .list-header {
            background: transparent;
            justify-content: center;

            .header-section-step {
                display: none !important;
            }

            .section-title-inner {
                text-align: center;

                h2 {
                    display: none;
                }

                p {
                    color: $gray;
                }
            }
        }
    }
}