$blue: #2cd1dd;
$blue2: #00a9be;
$blue3: #e6feff;
$darkblue: #005c76;
$gray: #808080;
$gray2: #324b4d;
$gray3: #94b0b3;
$black: #010101;
$lightgray: #ececec;

.blue {
    color: $blue !important;
}

.blue-bg {
    background-color: $blue !important;
}